<link rel="stylesheet" href="assets/css/calendar.css">
<div id="calendar">
    <div id="calendar-header">
        <div id="calendar-header-left">
            <h2 id="month">September 2023</h2>
        </div>
        <div id="calendar-header-right">
            <button id="calendar-previous" title="Previous Month">
                <i class="bi bi-caret-left-fill"></i>
            </button>
            <button id="calendar-next" title="Next Month">
                <i class="bi bi-caret-right-fill"></i>
            </button>
        </div>
    </div>
    <table id="calendar-table">
        <thead>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thusday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
    </table>
</div>
<script src="assets/js/calendar.js"></script>